<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">
            <li>

                <a href="/Index" aria-expanded="false">
                    <i class="icon-badge menu-icon"></i><span class="nav-text">Personeller</span>
                </a>

                <a href="/Testimonial/Index" aria-expanded="false">
                    <i class="icon-badge menu-table"></i><span class="nav-text">Widget</span>
                </a>

                <a href="/Service/Index" aria-expanded="false">
                    <i class="icon-badge menu-badge"></i><span class="nav-text">Widget</span>
                </a>
        </ul>
    </div>
</div>